[submodule "sass-spec"]
	path = sass-spec
	url = git@github.com:sass/sass-spec.git
	shallow = true
[submodule "bootstrap"]
	path = bootstrap
	url = git@github.com:twbs/bootstrap.git
	shallow = true
[submodule "element-plus"]
	path = element-plus
	url = git@github.com:element-plus/element-plus.git
	shallow = true

