[submodule "sass-spec"]
	path = sass-spec
	url = git@github.com:sass/sass-spec.git
[submodule "bootstrap"]
	path = bootstrap
	url = git@github.com:twbs/bootstrap.git
[submodule "element-plus"]
	path = element-plus
	url = git@github.com:element-plus/element-plus.git
[submodule "bulma"]
	path = bulma
	url = git@github.com:jgthms/bulma.git
[submodule "mdc-web"]
	path = mdc-web
	url = git@github.com:material-components/material-components-web.git
[submodule "foundation"]
	path = foundation
	url = git@github.com:foundation/foundation-sites.git
